<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title | escape }} - {{ site.title | escape }}</title>
<meta name="description" content="{{ page.description | default: site.description | escape }}">

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script data-goatcounter="https://jefframes.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
