<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    <h1 class="site-title"><a href="{{ site.baseurl }}/">Jeff Rames</a></h1>
  </header>
  <main>
  <h2 class="post-title">{{ page.title }}</h2>
  {{ content }}
  </main>

<footer>
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>

  <div class="social-buttons">
    {% if site.mastodon_username %}
      <a href="https://{{ site.mastodon_username | split: '@' | last }}/@{{ site.mastodon_username | split: '@' | slice: 1, 1 }}" class="mastodon" target="_blank" aria-label="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    {% endif %}

    {% if site.bluesky_username %}
      <a href="https://bsky.app/profile/{{ site.bluesky_username }}" class="bluesky" target="_blank" aria-label="Bluesky">
        <i class="fa-brands fa-bluesky"></i>
      </a>
    {% endif %}

    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="linkedin" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    {% endif %}
    
  </div>
</footer>
</body>
</html>
